* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 1440px;
  margin: 0 auto;
}

.App {
  padding: 30px;
  /* display: flex; */
  /* justify-content: center; */
  max-width: 800px;
  margin: 0 auto;
}

.App > div {
  /* margin-right: 50px; */
  margin: 20px;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
}

button {
  margin: 5px;
  padding: 5px;
}

ul {
  margin-top: 10px;
  padding: 0;
  border: 2px solid #cbc6c9;
  box-shadow: 2px 2px 5px #cbc6c9;
}

li {
  padding: 0 10px;
}

li:nth-child(odd) { background-color: #cbc6c9; } 
